<div class="overflow-auto table-wrapper">
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Scheibe</th>
        <th scope="col">Name</th>
        <th scope="col">Verein</th>
        <th scope="col">Klasse</th>
      </tr>
    </thead>
    <tbody>
      @for(archer of archers; track archer.id) {
        <tr>
          <th scope="row">1A</th>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td></td>
        </tr>
      }
    </tbody>
  </table>
</div>